.backgroundColorSection {
    background: rgb(243, 237, 233);
    background: linear-gradient(90deg, rgba(243, 237, 233, 1) 0%,
            rgba(243, 237, 233, 1) 45%,
            rgba(255, 255, 255, 1) 77%);
}

.arrowIcon {
    transition: transform 0.5s;
}

.seeMoreContainer:hover>.arrowIcon {
    transform: translate(5px);
}

.iconsContainer {
    transition: transform 1s;
    cursor: pointer;
}

.iconsContainer:hover {
    transform: scale(1.05);
}

.aboutMe::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}