.slidein {
    animation: slidein 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.secondSlidein {
    animation: slidein 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.upSlidein {
    animation: upSlidein 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes slideinZIndex {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
        z-index: 0;
    }
}

@keyframes slidein {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes upSlidein {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px);
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        transform: translateZ(0);
        opacity: 1
    }
}