.schema {
    animation: translateXTo100Perc 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.nivanova {
    animation: translateXTo100Perc 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.portfolio {
    animation: translateXTo100Perc 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1.5s;
}

@keyframes translateXTo100Perc {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.arch {
    animation: translateYTo100Perc 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1.5s;
}

@keyframes translateYTo100Perc {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

.portfolioButton {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 70px;
    position: absolute;
    cursor: pointer;
    bottom: 50px;
    left: 50%;
    transform: translateX(-100%);
    animation: portfolioButton 1s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-delay: 3s;
}

@keyframes portfolioButton {
    0% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 100%;
        bottom: 50px;
    }
}

.mobileImg {
    width: 70%;
    animation: mobileImg 1s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

.mobileButton {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 70px;
    cursor: pointer;
    animation: mobileButton 1s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@keyframes mobileImg {
    0% {
        opacity: 0;
        scale: 0.5;
    }

    100% {
        opacity: 100%;
        scale: 1;
    }
}

@keyframes mobileButton {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}