.resizeText {
    font-size: 1.125rem;
}

.gridItemEmail {
    /* margin-top: 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
}

.sendEmail {
    text-decoration: underline;
    color: inherit;
    font-size: 1.125rem;
}